.dmButton {
  margin: 10px;
}

.dmButtonDM,
.dmButtonLM {
  font-size: 1.25em;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  align-items: center;
  justify-items: start;
}

.dmButtonDM {
  color: #dad5f7;
}
.dmButtonLM {
  color: #302952;
}
