.settings {
  margin-top: 20px;
}

.dropdownLM {
  color: #302952;
  font-size: 1.25em;
}

.dropdownDM {
  color: #dad5f7;
  font-size: 1.25em;
}

details > summary {
  list-style-type: "⚙️  ";
}

details[open] > summary {
  list-style-type: "⬇️  ";
}

.game_body {
  display: flex;
  flex-direction: column;
  place-items: center;
  margin-top: 5rem;
}
.game_top_row {
}
.game_bottom_row {
}
