.smButton {
  margin: 10px;
  margin-top: 0;
}

.smButtonDM,
.smButtonLM {
  font-size: 1.25em;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  align-items: center;
  justify-items: start;
}

.smButtonDM {
  color: #dad5f7;
}
.smButtonLM {
  color: #302952;
}
